.container {
  overflow: auto;
}

.worksheet {
  table-layout: fixed;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* very important */
  border-spacing: 0px;
  box-sizing: border-box;
  width: 0;
  /* questionable */
  user-select: none; 
}

.worksheet > thead > tr > td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #f3f3f3;
  padding: 2px;
}

.worksheet > tbody > tr > td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 4px;
  line-height: 1em;
  white-space: nowrap;

  overflow: hidden;
}

.worksheet > tbody > tr > td:first-child {
  background-color: #f3f3f3;
}

.resizer {
  background-color: black;
  position: absolute;
  width: 3px;
  height: 10px;
  visibility: hidden;
}

.edit {
  overflow: visible !important;
  box-sizing: border-box;
  padding: 0 !important;
  outline: 0 solid transparent;
}

.worksheet > tbody > tr > td > input {
  border: 0;
  border-radius: 0;
  outline: 0;
  margin: 0;
  margin-left: 4px;
  padding: 0;
  box-sizing: border-box;
}
